<header class="header">
    <div class="container header-container">
        <div class="header-navigation">
            <a class="page-logo" href="https://dvolodko.github.io/fullstacklaboratory-team-project/">
                <svg class="logo-icon">
                    <use href="../images/svg/sprite.svg"></use>
                </svg>
            </a>
            <load src="partials/menu.html" />
        </div>
        <div class="contact-info">
            <adress class="adress-info">
                <a href="+380684439426" class="tel-nomber">+380 (68) 443-94-26</a>
            </adress>
            <div class="social-info">
                <ul class="social-menu">
                    <li class="social-menu-item">
                        <svg class="social-menu-link">
                            <use href="../images/svg/sprite.svg#icon-facebook"></use>
                        </svg>
                    </li>
                    <li class="social-menu-item">
                        <svg class="social-menu-link">
                            <use href="../images/svg/sprite.svg#icon-instagram"></use>
                        </svg>
                    </li>
                    <li class="social-menu-item">
                        <svg class="social-menu-link">
                            <use href="../images/svg/sprite.svg#icon-youtube"></use>
                        </svg>
                    </li>
                </ul>
                <button class="burger-btn" typy="button">
                    <svg class="burger-btn-icon">
                        <use href="../images/svg/logo.svg#icon-Burger"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
