<header class="header">
  <div class="container header-container">
    <div class="header-navigation">
      <a class="page-logo" href="./index.html">
        <img
          src="./images/svg/logo.svg"
          alt="logotype"
          width="44"
          height="39"
        />
      </a>
      <load src="partials/menu.html" />
    </div>
    <div class="contact-info">
      <address class="address-info">
        <a href="tel:+380684439426" class="tel-nomber">+380 (68) 443-94-26</a>
      </address>
      <div class="social-info">
        <ul class="social-menu">
          <li class="social-menu-item">
            <a
              class="social-menu-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="social-menu-icone">
                <use href="./images/svg/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-menu-item">
            <a
              class="social-menu-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="social-menu-icone">
                <use href="./images/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-menu-item">
            <a
              class="social-menu-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="social-menu-icone">
                <use href="./images/svg/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button
          class="burger-btn js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mob-menu"
        >
          <svg class="burger-btn-icon">
            <use href="./images/svg/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
