<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../css/container.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/general.css">
	<link rel="stylesheet" href="../css/hero.css">
</head>
<body>
	<section class="hero-section">
<div class="photo">
</div>
<div class="section-text">
	<h1 class="text">Reviving the traditional <span class="section-text-span">Ukrainian</span> artistry in every stitch.</h1>
	<button class="btn-order" type="button">
		Order
		<a href=""></a>
	</button>
</div>
<div class="descr">
	<p class="subtitle-text">all embroidery is made by hand</p>
</div>
</section>
</body>
</html>