<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../css/container.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/general.css">
	<link rel="stylesheet" href="../css/hero.css">
</head>
<body>
	<section class="hero-section">
		<div class="container section-text">
			<div class="container photo">
				<img srcset="../images/vyshyvanka-desktop-1440/hero-img@1x-webp.webp 1x
								../images/vyshyvanka-desktop-1440/hero-img 2x"
					src="../images/vyshyvanka-desktop-1440/hero-img@1x-webp.webp" alt="girl-in vyshyvanka" width="335" height="545">
			</div>
			<div class="hero-descr">
			<h1 class="text">Reviving the traditional <span class="text-span">Ukrainian</span> artistry in every stitch.
			</h1>
			<button class="btn-order" type="button">
				Order 
				<svg class="btn-icon" width="26" height="16">
					<use href="../images/svg/sprite.svg#icon-vector"></use>
				</svg>
				<a href=""></a>
			</button>
			<!-- <div class="container photo">
				<img srcset="../images/vyshyvanka-mobile-375/hero-mobile@1x-min.jpg
								../images/vyshyvanka-mobile-375/hero-mobilel@2x-min.jpg 2x"
					src="../images/vyshyvanka-mobile-375/hero-mobile@1x-min.jpg" alt="girl-in vyshyvanka" width="335" height="545">
			</div> -->
			</div>
						<div class="descr">
							<svg class="descr-icon" width="52" height="51">
								<use href="../images/svg/sprite.svg#icon-Star-10"></use>
							</svg>
						<p class="subtitle-text-hero">all embroidery is made by hand</p>
					</div>
</div>
</section>
</body>
</html>