<nav class="page-navigation">
  <ul class="navigation-menu">
    <li class="navigation-item">
      <a href="#about-us" class="item-link-page">About us</a>
    </li>
    <li class="navigation-item">
      <a href="#our-collection" class="item-link-page">Our collection</a>
    </li>
    <li class="navigation-item">
      <a href="#your-order" class="item-link-page">Customer order</a>
    </li>
    <li class="navigation-item">
      <a href="#testimonials" class="item-link-page">Testimonials</a>
    </li>
  </ul>
</nav>
