<div class="mob-menu">
    <div class="menu-container">
      <a class="mob-tel" href="tel:+380684439426" target="_blank"
        >+380 (68) 443-94-26</a
      >
      <button type="button" class="menu-close-btn">
        <svg width="18" height="18">
          <use href="#"></use>
        </svg>
      </button>
    </div>
  
    <ul class="modal-menu-nav">
      <li><a class="modal-menu-link" href="#">About us</a></li>
      <li><a class="modal-menu-link" href="#">Our collection </a></li>
      <li><a class="modal-menu-link" href="#">Customer order</a></li>
      <li><a class="modal-menu-link" href="#">Testimonials</a></li>
    </ul>
    <svg>
      <use href="#"></use>
    </svg>
  </div>