<div class="overlay-menu js-menu-container">
  <div class="mob-menu" id="mob-menu">
    <div class="menu-container">
      <a class="mob-tel" href="tel:+380684439426" target="_blank"
        >+380 (68) 443-94-26</a
      >
      <button type="button" class="menu-close-btn js-close-menu">
        <svg width="36" height="36">
          <use href="./images/svg/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="modal-menu-nav">
      <li><a class="modal-menu-link" href="#about-us">About us</a></li>
      <li>
        <a class="modal-menu-link" href="#our-collection">Our collection </a>
      </li>
      <li><a class="modal-menu-link" href="#your-order">Customer order</a></li>
      <li><a class="modal-menu-link" href="#testimonials">Testimonials</a></li>
    </ul>
  </div>
</div>
