<section>
  <h2 id="our-collection">Our collection</h2>

  <ul class="our-collection-grid container">
    <li class="our-collection-grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <picture>
              <source
                srcset="
                  ./images/vyshyvanka-desktop-1440/august-poltava@1x.jpg,
                  ./images/vyshyvanka-desktop-1440/august-poltava@1x-webp.webp,
                  /images/vyshyvanka-desktop-1440/august-poltava@2x-webp.webp,
                  /images/vyshyvanka-desktop-1440/august-poltava@2x.jpg
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-desktop-1280/august-poltava@1x.jpg,
                  ./images/vyshyvanka-desktop-1280/august-poltava@1x-webp.webp,
                  /images/vyshyvanka-desktop-1280/august-poltava@2x-webp.webp,
                  /images/vyshyvanka-desktop-1280/august-poltava@2x.jpg
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-tablet-768/august-poltava@1x-webp.webp,
                  ./images/vyshyvanka-tablet-768/august-poltava@1x-webp.webp,
                  /images/vyshyvanka-tablet-768/august-poltava@2x-webp.webp,
                  /images/vyshyvanka-tablet-768/august-poltava@2x.jpg
                "
                media="(min-width: 768px)"
              />

              <img
                src="./images/vyshyvanka-desktop-1440/august-poltava@1x.jpg"
                alt="AUGUST_Poltava"
              />
            </picture>
          </div>

          <div class="flip-card-back">
            <p class="flip-text">
              Traditional Style: Women's blouse with authentic Ukrainian
              embroidery. High-Quality Materials: Natural fabrics and handmade
              craftsmanship. Versatility: Perfect for everyday wear and special
              occasions.
            </p>
          </div>
        </div>
      </div>
      <div class="our-collection-description">
        <h3 class="our-collection-text">AUGUST Poltava women's blouseRING</h3>
        <p class="our-collection-price">3300 UAH</p>
      </div>
    </li>

    <li class="our-collection-grid-item">
      <div class="proto-image"></div>
      <h3 class="our-collection-text">Women's blouse Gorgany</h3>
      <p class="our-collection-price">3350 UAH</p>
    </li>

    <li class="our-collection-grid-item">
      <div class="proto-image"></div>
      <h3 class="our-collection-text">Women's blouse Crimea</h3>
      <p>4000 UAH</p>
    </li>

    <li class="our-collection-grid-item">
      <div class="proto-image"></div>
      <h3 class="our-collection-text">Women's blouse Crimea</h3>
      <p class="our-collection-price">4000 UAH</p>
    </li>

    <li class="our-collection-grid-item">
      <div class="proto-image"></div>
      <h3 class="our-collection-text">Mountain men's shirt</h3>
      <p class="our-collection-price">3300 UAH</p>
    </li>

    <li class="our-collection-grid-item">
      <div class="proto-image"></div>
      <h3 class="our-collection-text">Men's shirt Yasen</h3>
      <p class="our-collection-price">1700 UAH</p>
    </li>
  </ul>
</section>
