<section>
  <h2 class="our-collection-title" id="our-collection">Our collection</h2>

  <ul class="our-collection-grid container">
    <li class="our-collection-grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <picture>
              <source
                srcset="
                  ./images/vyshyvanka-desktop-1440/august-poltava@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1440/august-poltava@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1440/august-poltava@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1440/august-poltava@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-desktop-1280/august-poltava@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1280/august-poltava@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1280/august-poltava@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1280/august-poltava@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-tablet-768/august-poltava@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/august-poltava@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/august-poltava@2x-webp.webp 2x,
                  ./images/vyshyvanka-tablet-768/august-poltava@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./images/vyshyvanka-desktop-1440/august-poltava@1x.jpg"
                alt="AUGUST_Poltava"
              />
            </picture>
          </div>

          <div class="flip-card-back">
            <div class="flip-text">
              <ul class="flip-text-set">
                <li class="flip-text-item">Traditional Style: Women's blouse with authentic Ukrainian
                  embroidery. </li>
                <li class="flip-text-item">High-Quality Materials: Natural fabrics and handmade
                  craftsmanship. </li>
                <li class="flip-text-item">Versatility: Perfect for everyday wear and special
                  occasions.</li>
                  
                  
              </ul>
              
            </div>
          </div>
        </div>
      </div>

      <div class="our-collection-description">
        <h3 class="our-collection-text">AUGUST Poltava women's blouseRING</h3>
        <p class="our-collection-price">3300 UAH</p>
      </div>
    </li>

    <li class="our-collection-grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <picture>
              <source
                srcset="
                  ./images/vyshyvanka-desktop-1440/blouse-gorgany@1x.jpg 1x,  
                  ./images/vyshyvanka-desktop-1440/blouse-gorgany@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1440/blouse-gorgany@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1440/blouse-gorgany@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-desktop-1280/blouse-gorgany@1x.jpg 1x, 
                  ./images/vyshyvanka-desktop-1280/blouse-gorgany@1x-webp.webp 1x, 
                  ./images/vyshyvanka-desktop-1280/blouse-gorgany@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1280/blouse-gorgany@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-tablet-768/blouse-gorgany@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/blouse-gorgany@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/blouse-gorgany@2x-webp.webp 2x,
                  ./images/vyshyvanka-tablet-768/blouse-gorgany@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./images/vyshyvanka-desktop-1440/blouse-gorgany@1x.jpg"
                alt="blouse gorgany"
              />
            </picture>
          </div>

          <div class="flip-card-back">
            <div class="flip-text">
              <ul class="flip-text-set">
                <li class="flip-text-item">Traditional Style: Women's blouse with authentic Ukrainian
                  embroidery. </li>
                <li class="flip-text-item">High-Quality Materials: Natural fabrics and handmade
                  craftsmanship. </li>
                <li class="flip-text-item">Versatility: Perfect for everyday wear and special
                  occasions.</li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="our-collection-description">
        <h3 class="our-collection-text">Women's blouse Gorgany</h3>
        <p class="our-collection-price">3350 UAH</p>
      </div>
    </li>

    <li class="our-collection-grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <picture>
              <source
                srcset="
                  ./images/vyshyvanka-desktop-1440/blouse-crimea@1x.jpg 1x, 
                  ./images/vyshyvanka-desktop-1440/blouse-crimea@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1440/blouse-crimea@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1440/blouse-crimea@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-desktop-1280/blouse-crimea@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1280/blouse-crimea@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1280/blouse-crimea@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1280/blouse-crimea@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-tablet-768/blouse-crimea@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/blouse-crimea@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/blouse-crimea@2x-webp.webp 2x,
                  ./images/vyshyvanka-tablet-768/blouse-crimea@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./images/vyshyvanka-desktop-1440/blouse-crimea@1x.jpg"
                alt="blouse crimea"
              />
            </picture>
          </div>

          <div class="flip-card-back">
            <div class="flip-text">
              <ul class="flip-text-set">
                <li class="flip-text-item">Traditional Style: Women's blouse with authentic Ukrainian
                  embroidery. </li>
                <li class="flip-text-item">High-Quality Materials: Natural fabrics and handmade
                  craftsmanship. </li>
                <li class="flip-text-item">Versatility: Perfect for everyday wear and special
                  occasions.</li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="our-collection-description">
        <h3 class="our-collection-text">Women's blouse Gorgany</h3>
        <p class="our-collection-price">3350 UAH</p>
      </div>
    </li>

    <li class="our-collection-grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <picture>
              <source
                srcset="
                  ./images/vyshyvanka-desktop-1440/verkhovina@1x.jpg 1x, 
                  ./images/vyshyvanka-desktop-1440/verkhovina@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1440/verkhovina@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1440/verkhovina@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-desktop-1280/verkhovina@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1280/verkhovina@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1280/verkhovina@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1280/verkhovina@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-tablet-768/verkhovina@1x=webp.jpg 1x, 
                  ./images/vyshyvanka-tablet-768/verkhovina@1x.webp 1x,
                  ./images/vyshyvanka-tablet-768/verkhovina@2x-webp.webp 2x,
                  ./images/vyshyvanka-tablet-768/verkhovina@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./images/vyshyvanka-desktop-1440/verkhovina@1x.jpg"
                alt="verkhovina"
              />
            </picture>
          </div>

          <div class="flip-card-back">
            <div class="flip-text">
              <ul class="flip-text-set">
                <li class="flip-text-item">Traditional Style: Women's blouse with authentic Ukrainian
                  embroidery. </li>
                <li class="flip-text-item">High-Quality Materials: Natural fabrics and handmade
                  craftsmanship. </li>
                <li class="flip-text-item">Versatility: Perfect for everyday wear and special
                  occasions.</li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="our-collection-description">
        <h3 class="our-collection-text">Men's shirt Verkhovina</h3>
        <p class="our-collection-price">3100 UAH</p>
      </div>
    </li>

    <li class="our-collection-grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <picture>
              <source
                srcset="
                  ./images/vyshyvanka-desktop-1440/mountain-shirt@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1440/mountain-shirt@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1440/mountain-shirt@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1440/mountain-shirt@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-desktop-1280/mountain-shirt@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1280/mountain-shirt@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1280/mountain-shirt@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1280/mountain-shirt@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-tablet-768/mountain-shirt@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/mountain-shirt@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/mountain-shirt@2x-webp.webp 2x,
                  ./images/vyshyvanka-tablet-768/mountain-shirt@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./images/vyshyvanka-desktop-1440/mountain-shirt@1x.jpg"
                alt="mountain shirt"
              />
            </picture>
          </div>

          <div class="flip-card-back">
            <div class="flip-text">
              <ul class="flip-text-set">
                <li class="flip-text-item">Traditional Style: Women's blouse with authentic Ukrainian
                  embroidery. </li>
                <li class="flip-text-item">High-Quality Materials: Natural fabrics and handmade
                  craftsmanship. </li>
                <li class="flip-text-item">Versatility: Perfect for everyday wear and special
                  occasions.</li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="our-collection-description">
        <h3 class="our-collection-text">Mountain men's shirt</h3>
        <p class="our-collection-price">3300 UAH</p>
      </div>
    </li>

    <li class="our-collection-grid-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <picture>
              <source
                srcset="
                  ./images/vyshyvanka-desktop-1440/yasen@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1440/yasen@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1440/yasen@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1440/yasen@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-desktop-1280/yasen@1x.jpg 1x,
                  ./images/vyshyvanka-desktop-1280/yasen@1x-webp.webp 1x,
                  ./images/vyshyvanka-desktop-1280/yasen@2x-webp.webp 2x,
                  ./images/vyshyvanka-desktop-1280/yasen@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/vyshyvanka-tablet-768/yasen@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/yasen@1x-webp.webp 1x,
                  ./images/vyshyvanka-tablet-768/yasen@2x-webp.webp 2x,
                  ./images/vyshyvanka-tablet-768/yasen@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./images/vyshyvanka-desktop-1440/yasen@1x.jpg"
                alt="yasen"
              />
            </picture>
          </div>

          <div class="flip-card-back">
            <div class="flip-text">
              <ul class="flip-text-set">
                <li class="flip-text-item">Traditional Style: Women's blouse with authentic Ukrainian
                  embroidery. </li>
                <li class="flip-text-item">High-Quality Materials: Natural fabrics and handmade
                  craftsmanship. </li>
                <li class="flip-text-item">Versatility: Perfect for everyday wear and special
                  occasions.</li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="our-collection-description">
        <h3 class="our-collection-text">Men's shirt Yasen</h3>
        <p class="our-collection-price">1700 UAH</p>
      </div>
    </li>
  </ul>
</section>
