<section>
  <h2 class="our-collection-title">Our collection</h2>

  <ul class="our-collection-grid container">
    <li class="our-collection-grid-item">
      <a href="#">
        <img src="./images/Vyshyvanka Vibes/pic1.jpg" alt="Image 1" />
        <h2 class="our-collection-text">AUGUST Poltava women's blouseRING</h2>
        <p class="our-collection-price">3300 UAH</p>
      </a>
    </li>

    <li class="our-collection-grid-item">
      <a href="#">
        <img src="./images/Vyshyvanka Vibes/pic2.jpg" alt="Image 2" />
        <h2 class="our-collection-text">Women's blouse Gorgany</h2>
        <p class="our-collection-price">3350 UAH</p>
      </a>
    </li>

    <li class="our-collection-grid-item">
      <a href="#">
        <img src="./images/Vyshyvanka Vibes/pic3.jpg" alt="Image 3" />
        <h2 class="our-collection-text">Women's blouse Crimea</h2>
        <p>4000 UAH</p>
      </a>
    </li>

    <li class="our-collection-grid-item">
      <a href="#">
        <img src="./images/Vyshyvanka Vibes/pic6.jpg" alt="Image 6" />
        <h2 class="our-collection-text">Women's blouse Crimea</h2>
        <p class="our-collection-price">4000 UAH</p>
      </a>
    </li>

    <li class="our-collection-grid-item">
      <a href="#">
        <img src="./images/Vyshyvanka Vibes/pic4.jpg" alt="Image 4" />
        <h2 class="our-collection-text">Mountain men's shirt</h2>
        <p class="our-collection-price">3300 UAH</p>
      </a>
    </li>

    <li class="our-collection-grid-item">
      <a href="#">
        <img src="./images/Vyshyvanka Vibes/pic5.jpg" alt="Image 5" />
        <h2 class="our-collection-text">Men's shirt Yasen</h2>
        <p class="our-collection-price">1700 UAH</p>
      </a>
    </li>
  </ul>
</section>
