.about-title{
margin-bottom: 40px;
margin-top: 2px;
}
.about-text{
    margin-bottom: 50px;
    letter-spacing: -0.04em;
   
}
.about-text-vyshyvanka{
   margin-top: 0;
   margin-bottom: 0;
} 
.about-text-story{
    margin-bottom: 20px;
    margin-top: 0;
}

.about-container{
    display: flex;
    flex-direction: column;
    height: 957px;
    background-image: url(/images/png/black.png);
    background-size: 459px 408px; 
       background-repeat: no-repeat;
  position: relative;
  background-position: left 105px bottom 62px;
   
}
 .about-img{
  width: 335px;
  height: 499px;
    }
@media screen and (min-width:320px) and (max-width:375px){
  .about-container{
    max-width: 335px;
  }
  .about-text-all{
    max-width: 335px;
  }
  .about-thumb{
    max-width: 335px;
  }
  .about{
    max-width: 335px;
  }
}
.about-thumb {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
}

  @media screen and (min-width:768px){
    .about-title{
        font-size: 44px;
       line-height: 1.45;
    }
    .about-text{
        margin-bottom: 40px; 
    }
    .about-text-vyshyvanka{
        font-size: 16px; 
    }
    .about-text-story{
        font-size: 16px;  
    }
    .about-img{
      width: 704px;
height: 545px;
    }
    .about-container{
            width: 704px;
            height: 907px;
            background-size: 545px 484px; 
            background-position: left 367px bottom 50px;
          }
    }
   
  



@media screen and (min-width:1280px){
  .about-text-all{
    margin-top: 78px;
    padding-bottom:78px;
    width: 536px;
    height: 388px;
   }
   
   .about-container{
       flex-direction: row;
       gap: 50px;
       width: 1240px;
height: 545px;
padding-right: 50px;
padding-left: 50px;
background-size: 544px 484px; 
background-position: left 845px bottom 80px;
   }
   .about-img{
     width: 594px;
     height: 545px;
 }
}


@media screen and (min-width:1440px){
  .about-text-all{
    width: 481px;
    height: 388px;
  }
  .about-container{
    background-size: 544px 483px; 
    background-position: left 795px bottom 79px;
  }
  .about-img{
    width: 709px;
    height: 545px;
}
}