:root {
  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
  --font-prime: rgba(252, 249, 249, 0.4);
  --grey-transparent: rgba(255, 255, 255, 0.25);
  --font-family: 'Manrope', sans-serif;
  --transition-function-main: cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-color: 200deg 22% 4%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: normal;
  color: var(--font-prime);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  min-width: 145px;
  max-width: 154px;
  height: 49px;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
  transition: border-color 250ms var(--transition-function-main);
}

.button-icon {
  transform: rotateZ(330deg);
  transform-origin: center;
  transition: transform 250ms var(--transition-function-main);
}

.button:hover,
.button:focus {
  border-color: var(--yellow);
  & .button-icon {
    transform: rotateZ(360deg);
  }
}

.accent {
  color: var(--yellow);
}

@media (min-width: 768px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h2 {
    font-size: 44px;
    line-height: 1.45;
  }

  .button {
    padding: 14px 39px;
    min-width: 168px;
    max-width: 168px;
    height: 50px;
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
