.address-info {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-navigation {
  display: flex;
  gap: 60px;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.address-info {
  display: none;
}
.tel-nomber {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 28px;
  width: 193px;
  height: 48px;
  transition: border 250ms var(--transition-function-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  white-space: nowrap;
  outline: transparent;
  color: var(--white);
}
.tel-nomber:hover,
.tel-nomber:focus {
  border: 1px solid var(--yellow);
}
.social-menu {
  display: flex;
  gap: 12px;
}
.social-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-menu-link {
  width: 44px;
  height: 44px;
  padding: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  background-color: rgba(252, 249, 249, 0.1);
  outline: transparent;
  transition: border 250ms var(--transition-function-main),
    background-color 250ms var(--transition-function-main);
}
.social-menu-link:hover,
.social-menu-link:focus {
  border: 1px solid var(--yellow);
  background-color: var(--black);
  cursor: pointer;
}
.social-menu-icone {
  width: 100%;
  height: 100%;
  fill: #fcf9f9;
}
.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-btn-icon {
  width: 100%;
  height: 100%;
  stroke: #ecd979;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
  .header-container {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .burger-btn {
    display: none;
  }
  .address-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
