.header .page-navigation {
  display: none;
}

.navigation-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px 40px;
  min-width: 280px;
  max-height: 61px;
}

.item-link-page {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: var(--white);
  padding-top: 17px;
  padding-bottom: 17px;
  transition: color 250ms var(--transition-function-main);
}

.item-link-page:hover,
.item-link-page:focus {
  color: var(--yellow);
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    display: flex;
    gap: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .header .page-navigation {
    display: flex;
  }
}
