.container .your-order {
}

.your-order-section {
  background-image: url(/images/vyshyvanka-mobile-375/image-girl@1x-min.jpg);
  max-width: 375px;
  min-width: 320px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding-top: 500px;
}

@media (min-device-pixel-ration: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .your-order-section {
    background-image: url(/images/vyshyvanka-mobile-375/image-girl@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .your-order-section {
    background-image: url(/images/vyshyvanka-tablet-768/Image-girl@1x.jpg);
  }

  @media (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .your-order-section {
      background-image: url(/images/vyshyvanka-tablet-768/Image-girl@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .your-order-section {
    background-image: url(/images/vyshyvanka-desktop-1280/Image-girl@1x.jpg);
  }

  @media (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .your-order-section {
      background-image: url(/images/vyshyvanka-desktop-1280/Image-girl@2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .your-order-section {
    background-image: url(/images/vyshyvanka-desktop-1440/Image-girl@1x.jpg);
  }

  @media (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .your-order-section {
      background-image: url(/images/vyshyvanka-desktop-1440/Image-girl@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .your-order-section {
    max-width: 768px;
    padding-top: 776px;
  }
}

@media screen and (min-width: 1280px) {
  .your-order-section {
    max-width: 1282px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .your-order-section {
    max-width: 1440px;
  }
}

.your-order-buttom-part {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  background-color: var(--black);
}

@media screen and (min-width: 768px) {
  .your-order-buttom-part {
    background-image: url(/images/png/black.png);
    background-repeat: no-repeat;
    background-position: left calc(50%-112px) bottom 0px;
    /*background-position: left -222px bottom 0px;*/
  }
}

@media screen and (min-width: 1280px) {
  .your-order-buttom-part {
    flex-direction: row-reverse;
    gap: 50px;
    background-position: left calc(50%-368px) bottom 0px;
    /*background-position: left -256px bottom 0px;*/
  }
}

@media screen and (min-width: 1440px) {
  .your-order-buttom-part {
    background-position: left calc(50%-448px) bottom 0px;
    /*background-position: left -221px bottom 0px;*/
  }
}

.your-order-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.your-order-form-text {
  line-height: 1.37;
  min-width: 335px;
}

@media screen and (min-width: 768px) {
  .your-order-form-text {
    line-height: 1.32;
    max-width: 542px;
  }
}

@media screen and (min-width: 1440px) {
  .your-order-form-text {
    max-width: 666px;
  }
}

.your-order-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 335px;
  height: 330px;
}

@media screen and (min-width: 768px) {
  .your-order-inputs {
    width: 508px;
    height: 336px;
  }
}

.order-input {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  width: 335px;
  height: 47px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
  background-color: transparent;
  padding: 14px 16px;
}

@media screen and (min-width: 768px) {
  .order-input {
    width: 508px;
    height: 50px;
    font-size: 16px;
  }
}

.order-input:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.order-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
}

@media screen and (min-width: 768px) {
  .order-input::placeholder {
    font-size: 16px;
  }
}

.comment-field {
  border-radius: 8px;
  width: 335px;
  height: 196px;
  resize: none;
}

@media screen and (min-width: 768px) {
  .comment-field {
    width: 508px;
  }
}

.button.your-order {
  flex-direction: row;
  max-width: 145px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .button.your-order {
    max-width: 168px;
    margin: 0;
  }
}

.your-order-img {
  max-width: 704px;
  height: 521px;
  border-radius: 4px;
  margin: 100px 0px 79px;
}

@media screen and (max-width: 767px) {
  .your-order-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .your-order-image {
  }
}

@media screen and (min-width: 1280px) {
  .your-order-image {
    width: 588px;
    margin: 0px 0px 119px;
  }
}

@media screen and (min-width: 1440px) {
  .your-order-image {
    width: 524px;
    margin-bottom: 100px;
  }
}
